body
{
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1800px 700px;
}
#imagen_dispensador{
    margin-top: 40px;
    width: 500px;
    height: 500px;
}
h1{
    background-color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
    margin-bottom: 0px;
}
#display{
    background-image: url("dispensador.jpg");
    background-repeat: no-repeat;
    background-size: 905px 800px;
    background-position-x: -95px;
    background-position-y: -115px;
}