body
{
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1800px 700px;
}
#imagen_dispensador{
    margin-top: 40px;
    width: 500px;
    height: 500px;
}
h1{
    background-color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
    margin-bottom: 0px;
}
#pantalla{
    background-color: blue;
    color: black;
    padding: 40px 40px 40px 40px;
    text-align: center;
}
.buttons{
    text-align: center;   
}
#parrafo_inicial{
    background-color: grey;
    color: black;
    font-size: 10px;
}